/*===========================
    5. ABOUT SCSS
===========================*/
.about-section {
	position: relative;
	@media #{$md} {
		padding-top: 750px;
	}
	@media #{$xs} {
		padding-top: 550px;
	}
	.about-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 46%;
		height: 100%;
		background-size: cover;
		background-position: center;
		border-top-right-radius: 427px;
		@media #{$md} {
			height: 700px;
			width: 100%;
		}
		@media #{$xs} {
			height: 500px;
			width: 100%;
			border-top-right-radius: 220px;
		}
		.prize-tag {
			text-align: right;
			padding-right: 30px;
			@media #{$xs} {
				padding-right: 0;
			}
			img {
				@media #{$xs} {
					padding-right: 0;
					max-width: 150px;
				}
			}
		}
	}
	.about-text {
		.about-list {
			margin-top: 55px;
			li {
				position: relative;
				display: grid;
				grid-template-rows: auto;
				grid-template-columns: 115px 1fr;
				margin-bottom: 45px;
				@media #{$xs} {
					grid-template-columns: 100px 1fr;
				}
				@media #{$tiny} {
					display: block;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.icon {
					width: 86px;
					height: 86px;
					border-radius: 50%;
					background-color: $primary-color;
					color: $white;
					position: relative;
					margin-left: 5px;
					font-size: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					@media #{$xs} {
						width: 70px;
						height: 70px;
					}
					@media #{$tiny} {
						margin-bottom: 25px;
					}
					&::after {
						position: absolute;
						left: -5px;
						bottom: -5px;
						width: 100%;
						height: 100%;
						background: transparent;
						content: '';
						border: 1px solid $primary-color;
						border-radius: 50%;
						opacity: 0.8;
					}
					&.secondary-color {
						background-color: $secondary-color;
						&::after {
							border-color: $secondary-color;
						}
					}
				}
				h4 {
					margin-bottom: 25px;
					@media #{$xs} {
						margin-bottom: 15px;
						font-size: 20px;
					}
				}
				p {
					@media #{$xs} {
						font-size: 15px;
					}
				}
			}
		}
	}
}
