/*===========================
    1. COMMON CSS 
===========================*/

body {
	font-family: $mon;
	font-weight: normal;
	font-style: normal;
	color: $text-color;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

img {
	max-width: 100%;
	@include transition(0.4s);
}

a:focus,
input:focus,
textarea:focus,
button:focus,
.slick-initialized .slick-slide:focus,
.btn:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

i,
span,
a {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $mon;
	font-weight: 700;
	margin: 0px;
	&,
	a {
		color: $heading-color;
	}
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	margin: 0px;
	font-family: $mon;
}

a {
	@include transition(0.3s);
	&,
	&:hover {
		color: $primary-color;
	}
}

.bg-cover {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

input,
textarea {
	width: 100%;
	height: 60px;
	background-color: transparent;
	padding: 0px 20px;
	border: 1px solid #dcdfe2;
	font-size: 14px;
	color: $text-color;
}
input[type='submit'] {
	width: auto;
	padding: 0 35px;
	font-weight: 600;
	color: $white;
	background-color: $primary-color;
	@include transition(0.3s);
	border: none;
	text-transform: uppercase;
	&:hover {
		background-color: $secondary-color;
	}
}
textarea {
	height: 195px;
	padding-top: 20px;
}

::placeholder {
	font-size: 14px;
	color: #999999;
}

/*===== Common class Style =====*/
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: $secondary-color;
	z-index: 9999999;
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		div {
			height: 40px;
			width: 40px;
			background-color: $white;
			animation: rotateplane 1.2s infinite ease-in-out;
		}
	}
}

.container-fluid.container-extra {
	@media #{$lg-1700} {
		max-width: 1650px;
	}
	@media #{$lg-1400} {
		max-width: 1350px;
	}
}

.section-title {
	h2 {
		font-size: 55px;
		line-height: 1;
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: 40px;
		@media #{$lg} {
			font-size: 45px;
		}
		@media #{$xs} {
			font-size: 26px;
			margin-bottom: 20px;
		}
		@media #{$tiny} {
			font-size: 22px;
		}
	}
	p.title-tag {
		font-size: 20px;
		color: $primary-color;
		font-weight: 600;
		line-height: 1.2;
		position: relative;
		display: inline-block;
		z-index: 1;
		@media #{$xs} {
			font-size: 16px;
		}
		@media #{$tiny} {
			font-size: 14px;
		}
		&:before {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $primary-color;
			content: '';
			z-index: 2;
		}
	}
}
.bg-color {
	background-color: $bg-color;
}
/* Animation keyfranes */
@keyframes hvr-buzz-out {
	10% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	20% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	30% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	40% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
	50% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	60% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	70% {
		-webkit-transform: translateX(2px) rotate(1deg);
		transform: translateX(2px) rotate(1deg);
	}
	80% {
		-webkit-transform: translateX(-2px) rotate(-1deg);
		transform: translateX(-2px) rotate(-1deg);
	}
	90% {
		-webkit-transform: translateX(1px) rotate(0);
		transform: translateX(1px) rotate(0);
	}
	100% {
		-webkit-transform: translateX(-1px) rotate(0);
		transform: translateX(-1px) rotate(0);
	}
}

@keyframes ripple-white {
	0% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	40% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
}

@keyframes ripple {
	0%,
	35% {
		@include transform(scale(0));
		opacity: 1;
	}
	50% {
		@include transform(scale(1.5));
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		@include transform(scale(2));
	}
}

@keyframes sticky {
	0% {
		top: -200px;
	}
	100% {
		top: 0;
	}
}
@keyframes rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg)
			rotateY(-179.9deg);
	}
}
