/*===========================
    12. Footer 
===========================*/
footer {
	background-color: #111111;
	&,
	p,
	a,
	.widget-title,
	h2 {
		color: $white;
	}
	.widget {
		margin-bottom: 80px;
		.widget-title {
			margin-bottom: 40px;
			@media #{$xs} {
				margin-bottom: 25px;
			}
		}
		&.contact-widget {
			h2 {
				font-size: 36px;
				margin-bottom: 30px;
				@media #{$lg-1200} {
					font-size: 30px;
				}
				@media #{$lg} {
					font-size: 22px;
				}
				@media #{$xs} {
					font-size: 30px;
				}
			}
			.contact-info {
				li {
					margin-bottom: 20px;
					font-size: 22px;
					font-weight: 500;
					@media #{$lg-1200} {
						font-size: 18px;
					}
					@media #{$lg} {
						font-size: 16px;
					}
					@media #{$xs} {
						font-size: 18px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					span {
						font-size: 20px;
						margin-right: 20px;
						@media #{$lg-1200} {
							font-size: 16px;
						}
						@media #{$lg} {
							font-size: 14px;
							margin-right: 10px;
						}
						@media #{$xs} {
							font-size: 16px;
						}
					}
				}
			}
			.social-icons {
				margin-top: 30px;
				li {
					display: inline-block;
					margin-right: 25px;
					font-size: 20px;
					a:hover {
						color: $primary-color;
					}
				}
			}
		}
		&.nav-widget {
			display: flex;
			justify-content: center;
			@media #{$xs} {
				justify-content: flex-start;
			}
			ul {
				li {
					line-height: 36px;
				}
			}
		}
		&.newsletter-widget {
			form {
				margin-top: 25px;
				position: relative;
				input {
					background-color: $white;
					border: none;
					padding-right: 70px;
				}
				::placeholder,
				input {
					font-size: 15px;
					color: #888888;
				}
				button {
					font-size: 16px;
					color: $white;
					background-color: $primary-color;
					width: 60px;
					border: none;
					position: absolute;
					right: 3px;
					top: 3px;
					bottom: 3px;
					z-index: 2;
				}
			}
		}
		&.instagram-widget {
			display: flex;
			justify-content: flex-end;
			@media #{$xs} {
				justify-content: flex-start;
			}
			ul {
				display: grid;
				grid-template-rows: repeat(2, 90px);
				grid-template-columns: repeat(3, 85px);
				grid-auto-rows: 90px;
				@media #{$lg-1200} {
					grid-template-columns: repeat(3, 80px);
				}
				@media #{$lg} {
					grid-template-columns: repeat(2, 80px);
				}
				grid-gap: 10px;
				li {
					img {
						width: 100%;
					}
				}
			}
		}
	}
	.copyright-area {
		padding: 30px 0;
		border-top: 1px solid rgb(34, 34, 34);
		.copyright-text {
			a {
				color: $primary-color;
			}
			@media #{$md} {
				text-align: center;
				margin-top: 20px;
			}
			@media #{$xs} {
				text-align: center;
				margin-top: 20px;
				font-size: 14px;
			}
		}
		.footer-nav {
			ul {
				li {
					display: inline-block;
					margin-left: 20px;
					@media #{$xs} {
						font-size: 14px;
					}
					@media #{$tiny} {
						margin-left: 5px;
					}
				}
			}
		}
	}
}

/*===== Go Top =====*/
.go-top-area {
	position: relative;
	z-index: 9999;
	.go-top {
		position: fixed;
		cursor: pointer;
		top: 0;
		right: 24px;
		color: #ffffff;
		background-color: $primary-color;
		z-index: 9999;
		width: 40px;
		text-align: center;
		height: 42px;
		line-height: 42px;
		opacity: 0;
		visibility: hidden;
		@include transition(0.9s);
		border-right: 0;
		i {
			position: absolute;
			top: 50%;
			left: -4px;
			right: 0;
			margin: 0 auto;
			font-size: 15px;
			@include transform(translateY(-50%));
			@include transition(0.5s);

			&:last-child {
				opacity: 0;
				visibility: hidden;
				top: 60%;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: $primary-color;
			opacity: 0;
			visibility: hidden;
			@include transition(0.5s);
		}
		&:focus,
		&:hover {
			color: $white;
			&::before {
				opacity: 1;
				visibility: visible;
			}
			i {
				&:first-child {
					opacity: 0;
					top: 0;
					visibility: hidden;
				}
				&:last-child {
					opacity: 1;
					visibility: visible;
					top: 50%;
				}
			}
		}
		&.active {
			top: 98%;
			@include transform(translateY(-98%));
			opacity: 1;
			visibility: visible;
			border-radius: 0;
			right: 20px;
			@media #{$lg} {
				top: 93%;
			}
			@media #{$md} {
				top: 93%;
			}
		}
	}
}
.go-top-wrap {
	position: relative;
	.go-top-btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: $white;
		top: 3px;
		z-index: 1;
		background: $primary-color;

		i {
			font-size: 20px;
			font-weight: 700;
			padding-left: 4px;
			color: $white;
		}

		&::after {
			z-index: -1;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 40px;
			height: 40px;
			@include animation(ripple 1.6s ease-out infinite);
			opacity: 0;
			background: $primary-color;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}
