/*===========================
    10. Latest Post
===========================*/
.latest-posts {
	.section-title {
		position: relative;
		a.blog-page-link {
			font-size: 14px;
			font-weight: 600;
			color: $text-color;
			position: absolute;
			padding: 15px;
			right: 0;
			top: 0;
			@media #{$xs} {
				top: 30px;
			}
			i {
				font-size: 16px;
				position: relative;
				top: 2px;
				margin-left: 5px;
			}
		}
	}

	.post-box {
		margin-bottom: 30px;
		border: 1px solid rgba(191, 193, 194, 0.45);
		padding: 35px;
		@media #{$lg} {
			padding: 22px;
		}
		@media #{$xs} {
			padding: 30px;
		}
		@media #{$tiny} {
			padding: 30px 15px;
		}
		.post-content {
			.post-meta {
				li {
					display: inline-block;
					@media #{$tiny} {
						margin-bottom: 5px;
					}
					a {
						font-size: 14px;
						color: $text-color;
						margin-right: 30px;
						@media #{$lg} {
							margin-right: 10px;
						}
						@media #{$xs} {
							margin-right: 10px;
						}
						i {
							margin-right: 10px;
						}
					}
				}
			}
			h4 {
				margin-bottom: 20px;
				margin-top: 10px;
			}
			a.post-link {
				font-size: 14px;
				font-weight: 600;
				color: $text-color;
				text-transform: uppercase;
				&:hover {
					color: $primary-color;
				}
				i {
					margin-left: 10px;
					font-size: 18px;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.big-post {
			margin-bottom: 0;
			border: none;
			position: relative;
			z-index: 1;
			width: 100%;
			height: 588px;
			display: flex;
			align-items: flex-end;
			@media #{$md} {
				margin-bottom: 30px;
			}
			@media #{$xs} {
				margin-bottom: 30px;
				height: 500px;
			}
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: '';
				background-color: #000000;
				opacity: 0.4;
				z-index: -1;
			}
			h4 a,
			.post-meta li a,
			a.post-link {
				color: $white;
			}
		}
	}
}
