/*===========================
    7. Team
===========================*/
.team-box {
	.team-img {
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		overflow: hidden;
		border-bottom-right-radius: 30px;
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-bottom-right-radius: 30px;
			z-index: 2;
			background-color: $primary-color;
			opacity: 0.4;
		}
		&.secondary-color {
			&::after {
				background-color: $secondary-color;
			}
		}
		&.third-color {
			&::after {
				background-color: $third-color;
			}
		}
		img {
			border-bottom-right-radius: 30px;
			width: 100%;
		}
	}
	&:hover {
		.team-img img {
			transform: scale(1.1);
		}
	}
	h4 {
		margin-bottom: 10px;
	}
	.team-pro {
		font-size: 15px;
	}
}
