/*===========================
    09. Testimonial 
===========================*/
.testimonial-section {
	position: relative;
	min-height: 740px;
	@media #{$md} {
		padding-top: 750px;
	}
	@media #{$xs} {
		padding-top: 550px;
	}
	.video-wrap {
		position: absolute;
		right: 0;
		top: 0;
		width: 46%;
		height: 100%;
		z-index: 2;
		@media #{$md} {
			width: 100%;
			height: 700px;
		}
		@media #{$xs} {
			height: 500px;
			width: 100%;
		}
		.video-inner {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			position: relative;
			z-index: 1;
			border-top-left-radius: 427px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media #{$xs} {
				border-top-left-radius: 220px;
			}
			&::after {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				content: '';
				background-color: #01020f;
				opacity: 0.3;
				border-top-left-radius: 427px;
				z-index: -1;
			}
			.video-popup {
				height: 98px;
				width: 98px;
				text-align: center;
				line-height: 98px;
				font-size: 18px;
				color: $white;
				background-color: transparent;
				border: 1px solid $white;
				border-radius: 50%;
				@media #{$lg} {
					height: 70px;
					width: 70px;
					line-height: 70px;
				}
				@media #{$xs} {
					height: 70px;
					width: 70px;
					line-height: 70px;
				}
				&:hover {
					background-color: $secondary-color;
					border-color: $secondary-color;
				}
			}
		}
	}
	.testimonial-author {
		min-height: 110px;
		.single-thumb {
			cursor: pointer;
			opacity: 0.7;
			img {
				@media #{$tiny} {
					max-width: 80px;
					max-height: 80px;
				}
			}
		}
	}
	.testimonial-slider {
		.single-testimonial {
			p {
				font-size: 18px;
				font-weight: 500;
				@media #{$xs} {
					font-size: 16px;
				}
			}
			h4 {
				margin-top: 50px;
				span {
					display: block;
					font-size: 15px;
					font-weight: 500;
					padding-top: 20px;
					@media #{$xs} {
						padding-top: 8px;
					}
				}
			}
		}
		span.slick-arrow {
			position: absolute;
			left: 50%;
			bottom: 10px;
			width: 46px;
			height: 30px;
			text-align: center;
			line-height: 32px;
			z-index: 222;
			transform: translateX(-50%);
			font-size: 20px;
			cursor: pointer;
			@include transition(0.3s);
			border-top-left-radius: 10px;
			@media #{$xs} {
				left: 75%;
			}
			&.next-arrow {
				left: calc(50% + 55px);
				border-top-left-radius: 0;
				border-top-right-radius: 10px;
				background-color: $primary-color;
				color: $white;
				@media #{$xs} {
					left: calc(75% + 55px);
				}
			}
			&:hover {
				background-color: $primary-color;
				color: $white;
			}
		}
	}
}
